table.tableposition tbody td {
	/*background-color:#00FF00;*/
	border-bottom: none;
	width:50%;
	margin:0;
	padding:0;
} 

/*********************************************
 * FLEX CONTAINERS
 *********************************************/

.flex-container {
  display: flex;
  height: 700px;
  align-items: stretch;
  flex-direction: column;
}

.flex-container > div {
	width: 100%;
  /* margin: 10px; */
  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
}

/*********************************************
 * SIDE NAVIGATION
 *********************************************/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
   /* padding-top: 60px; */
  /* padding-bottom: 60px; */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
